@import
url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
outline: none;
font-size: 16px;
}
.primary{
background-color: #4285F4;
color: #fff;
}
.danger{
background-color: #E32934;
color: #fff;
}
.danger:hover{
background-color: #c10310;
}
.btn{
display: inline-block;
padding: 8px 15px;
border-radius: 4px;
text-decoration: none;
text-align: center;
margin-right: 15px;
}
.container{
max-width: 1200px;
margin: auto;
padding-top: 40px;
}
.title{
font-weight: 700;
margin-bottom: 10px;
font-size: 40px;
text-transform: uppercase;
}
.submit{
background-color: #4285F4;
color: #fff;
display: inline-block;
padding: 16px 8px;
border-radius: 6px;
text-decoration: none;
text-align: center;
margin-bottom: 20px;
}
.submit:hover, .primary:hover{
background-color: #1967e5;
}
table{
width: 100%;
border-collapse: collapse;
font-size: 16px;
text-align: left;
padding: 10px;
}
thead{
text-transform: uppercase;
}
th, td{
padding: 10px;
vertical-align: middle;
border-bottom: 1px solid #E0E0E0;
}
.table{
border: 1px solid #E0E0E0;
border-radius: 10px;
padding: 20px 40px 40px 40px;
}

input[type=text], input[type=email]{
    border: 1px solid #E0E0E0;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
    }
    .sex{
    margin-bottom: 20px;
    }
    .sex-title{
    margin-right: 40px;
    }
    .sex-item{
    display: inline-block;
    margin-right: 40px;
    }
    input[type=submit]{
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    background-color: #1967e5;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 8px;
    }
    input[type=submit]:hover{
    background-color: #4285F4;
    }
    .cancel{
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    color: #1967e5;
    cursor: pointer;
    border: 1px solid #1967e5;
    border-radius: 8px;
    }
    .cancel:hover{
    background-color: #1967e5;
    color: #fff;
    }